.header-list a:link,.header-list a:active,.header-list a:visited{color: black;}
.header-list a:hover {
  color: #319b86;
  text-decoration:none
}
li {list-style: none;}
ul {padding: 0px;}
h1 {margin: 0;}
h5 {margin: 0 0 4px 0;
    font-size: 120%;}

header {
  background-color: #f3f3f3;
  height: 60px;
}
.headerIcon {
  float: left;
}
.headerIcon img {
  height: 60px;
  width: auto;
}
.header-list {
  height:60px;
  width: 100%;
  padding-left: 70px;
}
.header-list a {
  display: inline-block;
  font-size: 16px;
  color: black;
  line-height: 60px;
  padding: 0 10px;
}
/*ヘッダーのリンクにカーソルを合わせるとボックス下にラインが出る*/
.header-list a:hover {
  box-shadow: inset 0 -3px 0 0 #4477c9;
}



.topPhoto{
  position: relative;
  width: 100%;
}
.topPhoto img {
  width: 100%;
}

/* ボーダーより薄め#515fa0 */
.titlebox {
  border: 1.5px solid #495595;
  border-radius: 2px;
  padding: 5px;
  margin: 50px 20px 50px 20px;
}
.title h1 {
  color: #3f5c8c;
  border: 1.5px solid #495595;
  border-radius: 2px;
  text-align: center;
  padding: 15px;
}


h3 {
  color: #495595;
  border-left: 6px solid #9393c6;
  border-bottom: 2px solid #9393c6;
  padding-bottom: 6px;
  padding-left: 15px;
  margin: 50px 0px 10px 0px;
}
h3 span {
  font-size: 18px;
  padding-left: 30px;
}
.thin {
  font-weight: 320;
  font-size: 1.8em;
}


.text {
  line-height: 25px;
  padding: 20px 10px 10px 10px;
}
h5 {
  color: #cc3377;
}
.text span {
  font-size: 105%;
  font-weight: 450;
  color: #495595;
}


.news {
  margin: 25px 0px 50px 0px;
}
#newsbox {
  overflow: auto;
  width: 100%;
  height: 200px;
  background-color: white;
  line-height: 28px;
  background-color: #f3f3f3;
}
#newsbox ul {
  padding: 10px 16px;
}
#newsbox li span {
  color: #4c5a9b;
  font-weight: bold;
  border-bottom: 1px solid #4c5a9b;
}


.rink {
  text-align:center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.rink img{
  text-align:center;
  width: 100%;
  max-width: 450px;
  height: auto;
  box-shadow: 0 2px 3px 0px rgba(0,0,0,.1);
  margin: 5px 0 8px 0;
}
